{% extends "estructura.html" %}	
{% block contenido %}
	{%  for linea in entrada %} 
	<div class="panel panel-primary">
    	<div class="panel-heading">
    	<a href="{% url 'gestoregresados.views.entrada' linea.pk %}">
      	  <h3 class="panel-title">{{ linea }}</h3></a> 	
    	</div>
    	<div class="panel-body">
            <p>Identificacion: {{ linea.id_egresado }}</p>
			<p>Finalizo estudios: {{ linea.fecha_fin}} </p>
			<p>Estado: {{ linea.estado_egresado }} </p>	
        </div>
        <div>
        	<a style="margin: 5px;" type="button" class="btn btn-sm btn-primary" href="{% url 'gestoregresados.views.delete' linea.pk %}">Eliminar Egresado</a>
	{% endfor %}
{% endblock %}