{% extends "estructura.html" %}
{% block contenido %} 
<ol class="breadcrumb">
        <li class="active"> Modificar Egresad@: {{egresado.nombre_egresado}} {{egresado.apellido_egresado}}
        </li>
    </ol>
	
	<form action="{% url 'gestoregresados.views.modegresado' egresado.pk %}" method="POST">
		{% csrf_token %} 
		<div class="form-group">
            <label>Identificacion: </label> 
            <input class="form-control" type="text"  readonly value="{{egresado.id_egresado}}" id="{{form.id_egresado}}
        </div>
        <div class="form-group">
            <label>Nombre Egresado: </label> 
            <input class="form-control" type="text" value="{{egresado.nombre_egresado}}" id="{{form.nombre_egresado}}
        </div>
        <div class="form-group">
            <label>Apellido Egresado: </label> 
            <input class="form-control" type="text" value="{{egresado.apellido_egresado}}" id="{{ form.apellido_egresado }}
        </div>
        <div class="form-group">
            <label>Titulo Obtenido: </label> 
            <input class="form-control" type="text" value="{{egresado.titulo_egresado}}" id="{{form.titulo_egresado}}
        </div>
        <div class="form-group">
            <label>Email Egresado: </label> 
            <input class="form-control" type="text" value="{{egresado.email_egresado}}" id="{{form.email_egresado}} 
        </div>
        <div class="form-group">
            <label>Fecha Egreso: </label> 
            <input class="form-control" type="date" value="{{egresado.fecha_fin}}" id="{{form.fecha_fin}}
        </div>
        <div class="form-group">
            <label>Telefono: </label> 
            <input class="form-control" type="text" value="{{egresado.tel_egresado}}" id=" {{ form.tel_egresado }}
        </div>
        <div class="form-group">
            <label>Direccion: </label> 
            <input class="form-control" type="text" value="{{egresado.dir_egresado}}" id=" {{ form.dir_egresado }} 
        </div>
        <div class="form-group">
            <label>Selects</label>
            <select class="form-control" {{egresado.estado_egresado}} {{ form.estado_egresado }}</select>
        </div>
		<input class="btn btn-sm btn-primary"  type="submit" value="Actualizar"><br>
	</form> 	

{% endblock %}